@import 'constants/variables.scss';

.App {
	background: black;
	min-height: 100vh;
	width: 96%;
	min-width: max-content;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	padding: 0 2%;
	position: relative;
	overflow-x: hidden;
}

p {
	margin: 0;
	letter-spacing: 0.1em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus {
	outline: white 1px dotted;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}

.select-wrapper {
	position: relative;
	width: max-content;

	select {
		width: 100%;
		display: block;
		font-size: 0.9rem;
		color: white;
		background-color: black;
		font-weight: normal;
		letter-spacing: 0.1em;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		border: 1px solid white;

		border-radius: 3px;
		text-align: center;
		padding: 0.2em 2em 0.3em 1.2em;

		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;

		&::-ms-expand {
			display: none;
		}

		&:focus {
			border-color: white;
			outline: none;
			box-shadow: 0px 0px 3px 0.5px $pink;
		}

		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 white;
		}

		option {
			outline: none;

			&:focus {
				outline: none;
			}
		}
	}

	&:after {
		content: url('assets/triangle-filled.svg');
		position: absolute;
		top: 0.2em;
		bottom: 0.3em;
		right: 0.5em;
		color: white;
		pointer-events: none;
	}
}

input {
	font-size: 0.9rem;
	color: white;
	background-color: black;
	font-weight: normal;
	letter-spacing: 0.1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
	padding: 0.3em 0.7em;
}

.page {
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 6vh 0;
	position: relative;
}

.item {
	display: flex;
	align-items: center;
	margin: 0.5em 3vw 0.5em 0;

	p {
		font-size: 0.9rem;
		margin: 0 2em;
	}
}

.heading {
	font-size: 1.2em;
	margin: 0 0 1.5em 0;
	align-self: center;
	text-align: center;
}

.subheading {
	margin: 0 0 1.5em 0;
	font-size: 0.9em;
	align-self: center;
	color: $grey;
}

.title {
	font-size: 1.8em;
	margin: 0 0 0.5em 0;
	text-align: center;
}

.error-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	transition: linear 0.12s;

	.error {
		border: 1px $pink solid;
		background: $pink;
		color: black;
		border-radius: 3px;
		padding: 2em;
		text-align: center;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		z-index: 26;

		p {
			margin: 2em;
			font-size: 1.1em;
		}
	}
}

::-moz-selection, ::selection {
	color: black;
	background: $pink;
}

// Table5
@media only screen and (max-width: 800px) and (orientation : portrait) {
    .page {
		padding: 2vh 0;

		.error-screen {
			.error {
				top: 25%;
			}
		}
	}
}

//Ipad 
@media only screen and (max-width: 768px) and (orientation : portrait) {
	.page {
		.error-screen {
			.error {
				top: 35%;
			}
		}
	}
}

// Iphone 6/7/8 Plus
@media only screen and (max-width: 414px) and (orientation : portrait) {
	.App {
		width: 100%;
		min-width: initial;
		padding: 0;
	}

	.page {
		.error-screen {
			.error {
				top: 50%;
				padding: 1.2em;

				p {
					margin: 1em;
				}
			}
		}
	}
}

// Galaxy S9/S9+
@media only screen and (max-width: 360px) and (orientation : portrait) {
	.page {
		.error-screen {
			.error {
				padding: 1.2em;

				p {
					margin: 0.8em;
				}
			}
		}
	}
}