@import '../../constants/variables.scss';

.event {
    padding-top: 3vh;

    .timezone {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        margin-bottom: 1em;
        
        .select-wrapper {
            font-size: 0.9rem;
        }

        p {
            margin: 0 1em;
        }
    }

    .form {
        display: flex;
        margin: 1.5em 0 5vh;
        height: 100%;
        position: relative;
        min-width: 90%;
        justify-content: center;

        .panel {
            position: relative;
            width: 50%;
            min-width: 50%;
            max-width: 50%;
        }

    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vh 0;
        flex-grow: 1;

        .userform {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .heading {
            margin: 1vh 0;
        }

        input {
            width: 150px;
            text-align: left;
        }

        .submit-button {
            margin: 1.5em 0 0.5em;
        }

    }
}