@import '../../constants/variables.scss';

.create {
    // min-height: 75vh;
    // position: relative;

    .event-name {
        font-size: 1.2em;
        width: 20vw;
        // margin: 1vh 1vw;
    }

    .form {
        display: flex;
        margin: 8vh 0 5vh;
        height: 100%;
        position: relative;

        .date-selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            min-width: 30vw;
        }
    
        .time-selection {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-grow: 1;
            margin: 0 3vw 0 2vw;
            min-width: 25vw;

            p {
                align-self: center;
                // margin-right: 2em;
            }
            
            .item {
                
                .select-wrapper {
                    // min-width: 15vw;
                    width: 15vw;
                    max-width: 200px;
                }
            }

        }
    }

    .create-button {
        position: absolute;
        bottom: 10vh;

        .button {
            font-size: 1em;
        }
    }


    
    
}