@import '../../constants/variables.scss';

.create {
    min-height: 75vh;

    .event-name {
        font-size: 1.2em;
        width: 20vw;
    }

    .description {
        margin: 2em 0 0;
        color: $grey;
    }

    .form {
        display: flex;
        margin: 5vh 0 5vh;
        height: 100%;
        position: relative;
        width: 90%;

        .date-selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 50%;
            max-width: 50%;

            .heading {
                margin-bottom: 0.5em;
            }
        }
    
        .time-selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 50%;
            max-width: 50%;

            p {
                align-self: center;
                // margin-right: 2em;
            }
            
            .selection-items {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .item {
                
                    .select-wrapper {
                        width: 15vw;
                        max-width: 200px;
                    }
                }
            }
            
            .timezone-alt {
                color: $grey;
                width: 50%;
                position: relative;
                text-align: center;
                font-size: 0.9em;
                margin-top: 2em;
            }

        }
    }

    .create-button {
        position: absolute;
        bottom: 10vh;

        .button {
            font-size: 1em;
        }
    }    
    
}