@import '../../constants/variables.scss';

.create {
    min-height: 75vh;

    .event-name {
        font-size: 1.2em;
        width: 30vw;
    }

    .form {
        display: flex;
        margin: 8vh 0 5vh;
        height: 100%;
        position: relative;
        width: 90%;

        .date-selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 50%;
            max-width: 50%;

            .heading {
                margin-bottom: 0.5em;
            }
        }
    
        .time-selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 50%;
            max-width: 50%;

            p {
                align-self: center;
                // margin-right: 2em;
            }
            
            .selection-items {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .item {
                
                    .select-wrapper {
                        width: 15vw;
                        max-width: 200px;
                    }
                }
            }
            
            .timezone-alt {
                color: $grey;
                width: 50%;
                position: relative;
                text-align: center;
                font-size: 0.9em;
                margin-top: 2em;
            }

        }
    }

    .create-button {
        position: absolute;
        bottom: 10vh;

        .button {
            font-size: 1em;
        }
    }    
    
}

// Tablet
@media only screen and (max-width: 800px)and (orientation : portrait) {
    .create {
        min-height: 52vh;

        .event-name {
            width: 40vw;
        }

        .description {
            margin: 2em 0 0;
            color: $grey;
        }

        .form {
            min-width: 98%;
            margin: 4vh 0 4vh;

            .time-selection {
                .selection-items {
                    .item {
                        .select-wrapper {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}

// Ipad
@media only screen and (max-width: 768px) and (orientation : portrait) {
    .create {
        min-height: 60vh;

        .event-name {
            width: 40vw;
        }

        .form {
            min-width: 98%;

            .time-selection {
                .selection-items {
                    .item {
                        .select-wrapper {
                            width: 180px;
                        }

                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

// Iphone 6/7/8 Plus 
@media only screen and (max-width: 414px) and (orientation : portrait) {
    .create {
        min-height: initial;

        .event-name {
            width: 60vw;
        }

        .description {
            width: 80%;
            text-align: center;
        }

        .form {
            min-width: 95%;
            flex-direction: column;
            align-items: center;
            position: relative;

            .date-selection {
                width: 100%;
                max-width: 100%;
                position: relative;
            }

            .time-selection {
                width: 100%;
                max-width: 100%;
                position: relative;

                .selection-items {
                    .item {
                        .select-wrapper {
                            width: 180px;
                        }

                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .create-button {
            position: relative;
            bottom: 0;
            margin-bottom: 5vh;
        }
    }
}