.App {
	background: black;
	min-height: 100vh;
	width: 96vw;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	padding: 0 2vw;
}

p {
	margin: 0;
	letter-spacing: 0.1em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus {
	outline: 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}

.button {
	border: white 1px solid;
	width: max-content;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	cursor: pointer;
	transition: linear 0.09s;
}

.button.active {
	background: white;
	color: black;
}